/* _content/FinalProject2/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-e1p5g0a0wm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-e1p5g0a0wm] {
  color: #0077cc;
}

.btn-primary[b-e1p5g0a0wm] {
    color: red;
    background-color: green;
    border-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 30%;
}

.nav-pills .nav-link.active[b-e1p5g0a0wm], .nav-pills .show > .nav-link[b-e1p5g0a0wm] {
  color: blue;
  background-color: yellow;
  border-color: white;
}

.border-top[b-e1p5g0a0wm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e1p5g0a0wm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e1p5g0a0wm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e1p5g0a0wm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-e1p5g0a0wm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

