@model User

<h2>Create a New User</h2>

@using (Html.BeginForm("InsertUserToDatabase", "User", FormMethod.Post))
{
    <input asp-for="UserID" type="hidden" value="" />

    <label asp-for="FirstName" class="control-label">First Name</label>
    <input asp-for="FirstName" class="form-control" />

    <label asp-for="LastName" class="control-label">Last Name</label>
    <input asp-for="LastName" class="form-control" />

    <label asp-for="EmailAddress" class="control-label">Email Address</label>
    <input asp-for="EmailAddress" class="form-control" />

    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
    <input id="PhoneNumberInput" asp-for="PhoneNumber" class="form-control" placeholder="(123) 456-7890" pattern="\(\d{3}\) \d{3}-\d{4}" />

    <input type="hidden" id="ActualPhoneNumber" asp-for="PhoneNumber" />
    <br>
    <div class="form-group">
        <label asp-for="EventID">*IMPORTANT: YOU MUST SELECT AN EVENT TO SEE THE USER WHEN SAVING!!!* <br>Select an Event</label>
        <select asp-for="EventID" class="form-control" asp-items="Model.EventsData">
            <option value="" disabled selected>-- Select Event --</option>
        </select>
        <span asp-validation-for="EventID" class="text-danger"></span>
    </div>

    <input type="submit" value="Create User" class="btn btn-secondary" />
}

@section scripts {
    <script>document.addEventListener("DOMContentLoaded", function () {
            var phoneNumberInput = document.getElementById("PhoneNumberInput");
            var actualPhoneNumberInput = document.getElementById("ActualPhoneNumber");

            phoneNumberInput.addEventListener("input", function () {

                var numericValue = this.value.replace(/\D/g, "");

                var formattedValue = formatPhoneNumber(numericValue);

                this.value = formattedValue;

                actualPhoneNumberInput.value = numericValue;
            });

            function formatPhoneNumber(value) {
                var formattedValue = value.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
                return formattedValue;
            }
        });</script>
}

