@{
    Layout = "_HomeLayout";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-section">
    <div class="text-center">
        <h1 class="display-4">Welcome to RSVPMe</h1>
        <p>Let's check out your events!</p>
        <a href="@Url.Action("Index", "EventData")" class="btn btn-primary">Events</a>
        <a href="@Url.Action("UserIndex", "User")" class="btn btn-primary">Users</a>
    </div>
</div>
