@model EventData

<h2>Create a New Event</h2>

@using (Html.BeginForm("InsertEventToDatabase", "EventData", FormMethod.Post))
{
    <input asp-for="EventID" type="hidden" value="" />

    <label asp-for="EventName" class="control-label">Event Name</label>
    <input asp-for="EventName" class="form-control" />

    <label asp-for="DateAndTime" class="control-label">Date and Time</label>
    <input asp-for="DateAndTime" class="form-control" />

    <label asp-for="Location" class="control-label">Location</label>
    <input asp-for="Location" class="form-control" />

    <label asp-for="Description" class="control-label">Description</label>
    <input asp-for="Description" class="form-control" />

    <input type="submit" value="Create Event" class="btn btn-primary" />
}
